<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ page.description }}">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/sitewide.css">
	
	<!-- pull in webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body>

	<!-- Page content goes inside the container -->
	<!-- In general, you should have only one container per page. -->
	<div class="container">

        <h1>Purely Intellectual</h1>
        <h3>A Blog by Leanna Faulk</h3>
    
    <div class="biography">   
       <h2>ABOUT ME</h2>
       <P>
       	Hello world! My name is Leanna Faulk and I am a 19-year-old college student from Long Island, NY. While New York holds my heart, soul and favorite slice of pizza, I currently reside in YOUR nation's capital, Washington D.C., as I recieve my $252,000 degree in Communication Studies from American University. If I'm being honest, I created this blog as an assignment for my Web Design course but truth be told - I've always wanted a platform of my own. I love writing, story telling, video production, graphic design, NY style pizza and the Kardashians so if your not into those things I suggest you find another past time because this is MY BLOG. Muwah<i class="em em-kiss"></i>
       </P>
   </div>

   <div class="headshot">
   	<img src="https://gm1.ggpht.com/HY2biSBODlSqDaJ0MRVAtbVQIbJCP4NEZTrghGCpQ9fOux5L2plnitZf9F90w5RNfL1M1tbKIQCYWSFnVF2rTBfTVq3sFHqgJGQCfYL8WkBMufk_1P7113tV0c3UD4A0BAvxYNGaT0CISD1MuyV1mNzd_mIRvKi7sBpl_9rmvRISBH7dhQuZm_-0v78-saT7MlXRSUglHjvYYZTqc5ehfe-Z1ZrBwtygT1_F6GZKtM7cRo1s3QDX1tqbwuGMnRam4rlG8jKNGrA87V8QUV_PUTtHSKAQoEaCjtrRWq9N3OUpU2Dn909lgwTS-fYFgIzzv9V36hd4eT2EbbJPoQ65Vv9zJhr-uoVr85Sizyb6sZztRYr1YTewVtQ5dnSFJHiqwwwoxcORf2Q3wh0dxW8U-wETtQFFnlgf1YYA1FFEptOiDPyHSXsJtRphY8PuxWgVeSsf1qzahz6_6QDeixeFHOrwdiAS35FlUXeGbaWPeX1frqAKiVDewXUl-icK0FD-Sp9zCcI9jXO4WW9bdGnaKoSB_z37w0CoXUs8Jw59OD5fIkt15Z2XUbocaocNCm3hx3dXAMW0G_bSt8M6LhomHGbuC7Gy_sgf6amcye6Cz9KWjnpFTPtorijqs7IerGF1tFbGVkQab2Y_1lNtTX2qvLWwP59ncwAc08MjkM-OLv_K9WUbGc20ofS539Hl=s0-l75-ft-l75-ft" alt="headshot"/>
   </div>
        {% for post in site.posts %}
        	<article>
        		<h2><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h2>
        		<p>{{ post.date | date: "%A, %B %-d, %Y" }}</p>
        		{{ post.teaser }}        
        	</article>
        {% endfor %}


	</div><!-- end container -->
	
</body>
</html>
